body{margin:0;padding:0;background:#ffe;font-size:14px;font-family:'微软雅黑','宋体',sans-serif;color:#231F20;overflow:auto}
a {color:#000;font-size:14px;}
#main{width:100%;}
#wrap{position:relative;margin:0 auto;width:1100px;height:680px;margin-top:10px;}
#text{width:480px;height:425px;left:30px;top:50px;position:absolute;}
#code{font-family: 'Dancing Script', cursive !important;display:none;font-size:19px;}
#clock-box {position:absolute;left:60px;top:600px;font-size:28px;display:none;}
#clock-box a {font-size:28px;text-decoration:none;}
#clock{margin-left:48px;}
#clock .digit {font-size:48px;}
#canvas{margin:0 auto;width:1100px;height:680px;}
#error{margin:0 auto;text-align:center;margin-top:60px;display:none;}
.hand{cursor:pointer;}
.say{margin-left:5px;}
.space{margin-right:150px;}

 
.img1 {
    padding: 7px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:100%;
    width: 300px;
    height: auto;
}
 
.img1 {
    border-radius:15%;
    -moz-border-radius:15%;
    -webkit-border-radius:100%;
}
.texta{
	font-family: 'Dancing Script', cursive;
    font-size: 34px;
    font-weight: bold;
}
.imgtim{
	width: 150px;
}